$primary-color: #3e9920;
$white-color: white;

$primary-font: UberMoveText-Medium, Helvetica, sans-serif;

$title-font-weight: 700;

#root {
  margin: auto;
  // width: 80%;
  padding: 0 4%;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    padding: 90px 0px 30px;
    height: 32px;
    width: auto;
    max-width: inherit;
  }
  div {
    width: 70%;
  }
  h5 {
    font-size: 180%;
    font-family: $primary-font;
  }
  input {
    display: block;
    width: 100%;
    padding-left: 12px;
  }
  button {
    width: 102%;
    background-color: $primary-color;
    color: $white-color;
    border: 0px;
  }

  .loginTab {
    > * {
      margin: 10px;
      height: 40px;
    }
    p span {
      color: $primary-color;
    }
  }

  .loginTab {
    // width: 28%;
    width: 46%;
  }

  .footerCard {
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    color: $white-color;
    font: 15px $primary-font;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    h1 {
      padding: 0 50px;
    }
  }
}

.topFilter {
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    width: 8%;
  }
}

.NavBar {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  input {
    height: 30px;
    border-radius: 20px;
    padding-left: 12px;
    margin: 10px;
    border: 1px solid black;
  }
  button {
    // width: 100%;
    height: 35px;
    background-color: green;
    color: white;
    font-weight: 900;
    border-radius: 20px;
    padding: 0 15px;
    border: 0px;
  }
  .loginIcon {
    // margin-left: 30px;
    img {
      width: 20%;
    }
  }
  span {
    float: right;
    margin-top: 40px;
  }
  .restLogo {
    max-height: 100%;
    max-width: 100%;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-size: cover;
    background-image: url("https://us.123rf.com/450wm/friendesigns/friendesigns1902/friendesigns190200738/117794294-modern-kitchen-logo.jpg?ver=6");
    float: right;
  }
  .userLogo {
    max-height: 100%;
    max-width: 100%;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-size: cover;
    background-image: url("https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg");
    float: right;
  }
}

img:hover {
  cursor: pointer;
}

.offerCard {
  display: flex;
  height: 135px;
  justify-content: space-around;
  margin: 25px 0px 30px;

  img {
    width: 25%;
    border-radius: 14px;
  }
}
.sectionCard {
  display: flex;
}
.advanceFilterCard {
  flex: 1;
  padding-right: 20px;
  .accordion-item {
    border: 0px;
  }
  button {
    border-radius: 14px;
    border: 0px;
    margin: 2px;
  }
  p {
    font-weight: $title-font-weight;
  }
  span {
    padding-left: 30px;
  }
  .priceRange {
    display: flex;
  }
  .range {
    display: flex;
    justify-content: space-between;
  }
}
.displayResultCard {
  flex: 4;
  font-weight: $title-font-weight;
  margin-left: 16px;
  p {
    font-size: x-large;
  }
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    > * {
      padding: 8px;
    }
    img {
      border-radius: 30px;
    }
  }
}
.errorMessage {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

.Restaurant {
  .dishCard {
    display: flex;
    flex-flow: wrap;
    .card {
      width: 18rem;
      margin: 10px;
      border-radius: 15px;
      border: 1px solid;

      .quantity {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
      }
      .quantity__minus,
      .quantity__plus {
        display: block;
        width: 22px;
        height: 23px;
        margin: 0;
        cursor: pointer;
        color: $white-color;
        background: $primary-color;
        text-decoration: none;
        text-align: center;
        line-height: 23px;
      }
      .quantity__minus:active,
      .quantity__plus:active {
        height: 28px;
        width: 28px;
      }
      .quantity__minus {
        border-radius: 3px 0 0 3px;
      }
      .quantity__plus {
        border-radius: 0 3px 3px 0;
      }
      .quantity__input {
        width: 32px;
        height: 19px;
        margin: 0;
        padding: 0;
        text-align: center;
        border-top: 2px solid #dee0ee;
        border-bottom: 2px solid #dee0ee;
        border-left: 1px solid #dee0ee;
        border-right: 2px solid #dee0ee;
        background: #fff;
        color: #8184a1;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      // .quantity__minus:link,
      // .quantity__plus:link {
      //   color: $primary-color;
      // }
      // .quantity__minus:visited,
      // .quantity__plus:visited {
      //   color: #fff;
      // }
    }
  }

  .backgroundImg {
    margin-top: 10px;
    padding-left: 20px;
    line-height: 300px;
    background-size: cover;
    text-align: left;
    color: black;
    min-height: 300px;
    div {
      color: white;
      font: 40px UberMove, sans-serif;
      bottom: 10px;
      left: 180px;
      position: absolute;
      top: 48%;
      left: 6%;
    }
  }
}
