$primary-color: #3e9920;
$white-color: white;

$primary-font: UberMoveText-Medium, Helvetica, sans-serif;

#root {
  margin: auto;
  width: 80%;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    padding: 90px 0px 30px;
    height: 32px;
    width: auto;
    max-width: inherit;
  }
  div {
    width: 70%;
  }
  h5 {
    font-size: 180%;
    font-family: $primary-font;
  }
  input {
    display: block;
    width: 100%;
    padding-left: 12px;
  }
  button {
    width: 102%;
    background-color: $primary-color;
    color: $white-color;
    border: 0px;
  }

  .loginTab {
    > * {
      margin: 10px;
      height: 40px;
    }
    p span {
      color: $primary-color;
    }
  }

  .loginTab {
    // width: 28%;
    width: 46%;
  }
  footer {
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    color: $white-color;
    font: 5px $primary-font;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    h1 {
      padding: 0 50px;
    }
  }
}

.topFilter {
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    width: 8%;
  }
}

.NavBar {
  margin: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  input {

    height: 30px;
    border-radius: 20px;
    padding-left: 12px;
    margin: 10px;
    border: 1px solid black;

  }
  button{
    width: 70px;
    height: 35px;
    background-color: green;
    color: white;
    font-weight: 900;
    border-radius: 20px;
    border: 0px;
  }
  img {
    // margin-left: 30px;
  }
  span{
    float: right;
    margin-top: 40px;
  }
  .restLogo{
      max-height: 100%;
      max-width: 100%;
      width:100px;
      height:100px;
      margin: 5px;
      background-size: cover;
      background-image: url('https://us.123rf.com/450wm/friendesigns/friendesigns1902/friendesigns190200738/117794294-modern-kitchen-logo.jpg?ver=6');
      float: right;
    }
    .userLogo{
      max-height: 100%;
      max-width: 100%;
      width:100px;
      height:100px;
      margin: 5px;
      background-size: cover;
      background-image: url("https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg");
      float: right;
    }
    
}

img:hover {
  cursor: pointer;
}

.displayResult {
  p {
    font-weight: 700;
    font-size: larger;
  }
  img {
    padding: 14px;
  }
}
.offerCard {
  display: flex;
  height: 135px;
  justify-content: space-around;
  margin: 40px 0px;

  img {
    width: 25%;
    border-radius: 14px;
  }
}

.errorMessage{
  color: red;
  font-size: 15px;
  font-weight: bold;
}